<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./image.css" />
    <title>Sharp UI | Image</title>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <h1>Images</h1>
        <div class="image-container">
          <h2>Responsive Image</h2>
          <p>
            When you increase/decrease the size of the screen the image size
            also get's decreased using responsive image class
            <code>image-responsive</code>.
          </p>
          <div class="image-responsive-container">
            <img
              class="image image-responsive"
              src="../../assets/images/simon-lee.jpg"
              alt="flower"
            />
          </div>
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Fimg%2Fimg-res.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
          <div class="image-round-container">
            <h2>Image Round</h2>
            <p>
              You can achieve circular image using the class
              <code>image-round</code>
            </p>
            <img
              class="image image-round"
              src="../../assets/images/simon-lee.jpg"
              alt="flower"
            />
          </div>
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Fimg%2Fimg-round.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
      </div>
    </main>
  </body>
</html>
