@import url(../../css/main.css);

.grid{
    display: grid;
    height: 20rem;
    max-width: 60%;
    border: 1px solid black;
    padding: 1rem;
    margin: 1.5rem;
}
.grid-row-2{
    grid-template: 1fr 1fr/1fr;
}
.grid-colm-2{
    grid-template: 1fr /1fr 1fr;
}
.grid-row-3{
    grid-template: 1fr 1fr 1fr/1fr;
}
.grid-column-3{
    grid-template: 1fr /1fr 1fr 1fr;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}

