<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1a8e4103d5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./card.css" />
    <title>Sharp UI|Card</title>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <h1>Cards</h1>
        <div class="card-container">
          <h2>Basic Card</h2>
          <div class="card card-basic">
            <h3>Card Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              praesentium totam reprehenderit.
            </p>
            <button class="btn btn-secondary">Button</button>
          </div>

          <h2>Social Media Card</h2>
          <!-- continue from here -->
          <div class="card card-social-media">
            <div class="card-media-header">
              <div class="card-media-first avatar avatar-sm">
                <img src="../../assets/images/avatar-svgrepo-com.svg" alt="" />
                <span>
                  <h3>Name</h3>
                  <p>8 hours ago</p>
                </span>
              </div>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="card-social-main-img">
              <img src="../../assets/images/simon-lee.jpg" alt="random image" />
            </div>
            <div class="card-social-discrip">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card-media-actionables">
              <div class="card-icons">
                <span class="card-icons-start">
                  <i class="far fa-heart"></i>
                  <i class="far fa-comment"></i>
                </span>
                <span class="card-icons-end">
                  <i class="far fa-bookmark"></i>
                </span>
              </div>
            </div>
          </div>

          <h2>Dismissible Image Card</h2>
          <div class="card card-dismiss">
            <div class="card-dismiss-img">
              <img src="../../assets/images/simon-lee.jpg" alt="random image" />
              <i class="fas fa-times"></i>
            </div>
            <div class="card-dismiss-title">
              <h3>Card Title</h3>
              <p>author name</p>
            </div>
            <div class="card-dismiss-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rerum
              ipsum itaque adipisci dolores ipsa.
            </div>
            <div class="card-dismiss-footer">
              <button class="btn btn-secondary">Read more</button>
              <div class="card-icons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-bookmark"></i>
              </div>
            </div>
          </div>

          <h2>Text Overlay Card</h2>
          <div class="card card-text-overlay">
            <img src="../../assets/images/simon-lee.jpg" alt="random image" />
            <div class="card-text-overlay-header">
              <span>
                <h3>Card Title</h3>
                <p>Sub Title</p>
              </span>
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="card-text-overlay-footer">
              <div class="card-icons">
                <span class="card-icons-start">
                  <i class="fas fa-heart"></i>
                  <i class="fas fa-comment"></i>
                  <i class="fas fa-share"></i>
                </span>
                <span class="card-icons-end">
                  <i class="fas fa-bookmark"></i>
                </span>
              </div>
            </div>
          </div>

          <h2>Ecommerce Card</h2>
          <div class="card card-ecommerce">
            <div class="card-ecom-header">
              <img src="../../assets/images/simon-lee.jpg" alt="random image" />
              <i class="fas fa-bookmark">25% off</i>
            </div>
            <div class="card-ecom-title">
              <h3>Card Title</h3>
              <p>author name</p>
            </div>
            <div class="card-ecom-price">
              <span class="price-show">
                <strike>3499₹</strike>
                <p>999₹</p>
              </span>
              <span class="price-change">
                <button class="btn btn-float btn-primary">
                  <i class="fas fa-minus"></i>
                </button>
                <p>3</p>
                <button class="btn btn-float btn-primary">
                  <i class="fas fa-plus"></i>
                </button>
              </span>
            </div>
            <div class="card-ecom-footer">
              <button class="btn btn-primary">
                <i class="fas fa-shopping-cart"></i>Add to cart
              </button>
              <button class="btn btn-primary">
                <i class="fas fa-list-ul"></i>Add to Wishlist
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
