<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./avatar.css">
    <title>Avatar|Sharp UI</title>
</head>

<body>
    <main>
        <div class="wrapper">
            <h1>Avatar</h1>
            <h2>Normal avatar</h2>
            <div class="avatar-container">
                <div class="avatar">
                    <img src="../../assets/images/avatar-svgrepo-com.svg" alt="avatar large">
                </div>
                <div class="avatar">
                    <img src="../../assets/images/female-avatar.svg" alt="avatar medium">
                </div>
                <div class="avatar">
                    <img src="../../assets/images/butler-avatar.svg" alt="avatar small">
                </div>
            </div>
            <h2>Avatar Sizes</h2>
            <div class="avatar-container">
                <div class="avatar avatar-xl">
                    <img src="../../assets/images/avatar-svgrepo-com.svg" alt="avatar large">
                </div>
                <div class="avatar avatar-md">
                    <img src="../../assets/images/female-avatar.svg" alt="avatar medium">
                </div>
                <div class="avatar avatar-sm">
                    <img src="../../assets/images/butler-avatar.svg" alt="avatar small">
                </div>
            </div>
            <h2>Avatar square</h2>
            <div class="avatar-container">
                <div class="avatar avatar-sq">
                    <img src="../../assets/images/avatar-svgrepo-com.svg" alt="avatar large">
                </div>
            </div>
        </div>
    </main>
</body>

</html>