@import url(../../css/main.css);

/* ||General HTML  */
/* || component styles */
.avatar img {
    border-radius: 50%;
    margin: 1rem;
    width: 10rem;
}

.avatar-xl img {
    width: 20rem;
}

.avatar-md img {
    width: 13rem;
}

.avatar-sm img {
    width: 7rem;
}

.avatar-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.avatar-sq img {
    border-radius: 0%;
}