<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./utilities.css" />
    <link rel="stylesheet" href="../../css/layout.css" />
    <title>Sharp UI | Utilities</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/pike.png" />
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <h1><a class="reset-link" href="../../index.html">Sharp UI</a></h1>
        <p class="logo-caption">v1.0</p>
      </div>
      <a target="_blank" href="https://github.com/ajitpsakri/Sharp-UI"
        ><i class="header-icon fab fa-github"></i
      ></a>
    </div>
    <div class="main-content">
      <aside>
        <div class="sidebar-list-container">
          <a href="../get-started/get-started.html">
            <strong>Get Started</strong></a
          >
          <p class="sidebar-label">Components</p>
          <div class="component-links">
            <a href="../avatar/avatar.html">Avatar</a>
            <a href="../alert/alert.html">Alert</a>
            <a href="../badge/badge.html">Badge</a>
            <a href="../button/button.html">Button</a>
            <a href="../card/card.html">Card</a>
            <a href="../image/image.html">Image</a>
            <a href="../input/input.html">Input</a>
            <a href="../modal/modal.html">Modal</a>
            <a href="../toast/toast.html">Toast</a>
            <a href="../rating/rating.html">Rating</a>
            <a href="../navigation/nav.html">Navigation</a>
            <a href="../grid/grid.html">Grid</a>
            <a class="current" href="../utilities/utilities.html">Utilities</a>
            <a href="../list/list.html">List</a>
          </div>
        </div>
      </aside>
      <main>
        <div class="wrapper">
          <h1>Utilities</h1>
          <h2>Heading</h2>
          <p>Range is from <code>h1</code> to <code>h6</code></p>
          <div class="heading">
            <h1>H1 - Heading 1</h1>
            <h2>H2 - Heading 2</h2>
            <h3>H3 - Heading 3</h3>
            <h4>H4 - Heading 4</h4>
            <h5>H5 - Heading 5</h5>
            <h6>H6 - Heading 6</h6>
          </div>
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Futilities%2Fheading.html&style=a11y-dark&showCopy=on&fetchFromJsDelivr=on"></script>
          <h2>Alignment</h2>
          <div class="alignment">
            <p class="text-left">Left</p>
            <p class="text-center">Center</p>
            <p class="text-right">Right</p>
          </div>
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Futilities%2Falignment.html&style=a11y-dark&showCopy=on&fetchFromJsDelivr=on"></script>
          <h2>Font Sizes</h2>
          <p>8 types of font sizes</p>
          <div class="font-sizes">
            <p class="fs-8">Font Size 8</p>
            <p class="fs-7">Font Size 7</p>
            <p class="fs-6">Font Size 6</p>
            <p class="fs-5">Font Size 5</p>
            <p class="fs-4">Font Size 4</p>
            <p class="fs-3">Font Size 3</p>
            <p class="fs-2">Font Size 2</p>
            <p class="fs-1">Font Size 1</p>
          </div>
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Futilities%2Ffont-sizes.html&style=a11y-dark&showCopy=on&fetchFromJsDelivr=on"></script>
          <h2>Styles</h2>
          <div class="styles">
            <p>This text is of Standard text</p>
            <p class="text-error">This text is of Error Color</p>
            <p class="text-warning">This text is of Warning Color</p>
            <p class="text-success">This text is of Success Color</p>
            <p class="text-strike">This text has a line going through it.</p>
            <p class="text-underline">This text has a line underneath it.</p>
          </div>
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Futilities%2Fstyle.html&style=a11y-dark&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
      </main>
    </div>
  </body>
</html>
