<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./toast.css" />
    <script
      src="https://kit.fontawesome.com/1a8e4103d5.js"
      crossorigin="anonymous"
    ></script>
    <title>Sharp UI | Toast</title>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <h1>Toast</h1>
        <h2>Primary Toast</h2>
        <div class="primary-container">
          <button value="alert-info" class="btn click-primary">
            Click Me for Primary Toast!
          </button>
          <div class="alert alert-info toast toast-tl">
            <i class="fas fa-info-circle"></i>
            Primary Toast!
          </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Ftoast%2Fprimary.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        <h2>Success Toast</h2>
        <div class="success-container">
          <button value="alert-success" class="btn click-success">
            Click Me for Primary Toast!
          </button>
          <div class="alert alert-success toast toast-tr">
            <i class="fas fa-check-circle"></i>
            Success Toast!
          </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Ftoast%2Fsuccess.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        <h2>Warning Toast</h2>
        <div class="warning-container">
          <button value="alert-warning" class="btn click-warning">
            Click Me for Warning Toast!
          </button>
          <div class="alert alert-warning toast toast-bl">
            <i class="fas fa-exclamation-triangle"></i>
            Warning Toast!
          </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Ftoast%2Fwarning.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        <h2>Danger Toast</h2>
        <div class="danger-container">
          <button value="alert-danger" class="btn click-danger">
            Click Me for Danger Toast!
          </button>
          <div class="alert alert-danger toast toast-br">
            <i class="fas fa-exclamation-circle"></i>
            Danger Toast!
          </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Ftoast%2Fdanger.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        <h2>JavaScript code</h2>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Ftoast%2Ftoast.js&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
      </div>
    </main>
    <script src="./toast.js"></script>
  </body>
</html>
