@import url(../../css/main.css);
@import url(../badge/badge.css);
@import url(../button/button.css);
:root{
    --h3-color:grey;
}
.nav-container{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    padding:0rem 2rem ;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-actionables{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icon-container{
    font-size: 3rem;
    height: 4rem;
}
.nav-icon{
    height: 100%;
}
.nav-count{
    top: -2rem;
}
.nav-badge-cont{
    width: 200%;
}
.nav-container h3{
    color: var(--h3-color);
}
.footer-nav h3{
    color: white;
}
.footer-nav a{
    text-decoration: none;
}
.container__main-content{
    margin-top: 9rem;
}
