<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./nav.css" />
    <script
      src="https://kit.fontawesome.com/1a8e4103d5.js"
      crossorigin="anonymous"
    ></script>
    <title>Sharp UI | Navigation</title>
  </head>

  <body>
    <main>
      <div class="wrapper">
        <h1>Navigation</h1>
        <a href="./wholeNav.html">
          <button class="btn btn-primary">Click for Nav</button>
        </a>
      </div>
    </main>
  </body>
</html>
