<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./nav.css" />
    <script
      src="https://kit.fontawesome.com/1a8e4103d5.js"
      crossorigin="anonymous"
    ></script>
    <title>Sharp UI | Navigation</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/pike.png" />
  </head>
  <style>
    body {
      background-color: gray;
    }
  </style>
  <body>
    <div class="nav-container">
      <h3>My Website/Logo</h3>
      <div class="nav-search">
        <label class="search-label" for="search"
          ><i class="fas fa-search"></i
        ></label>
        <input class="search-input" type="text" id="search" />
      </div>
      <div class="nav-actionables">
        <div class="btn-container">
          <button class="btn btn-sm btn-default">Login</button>
        </div>
        <div class="nav-badge-cont badge-container">
          <div class="icon-container">
            <i class="nav-icon far fa-heart">
              <span class="nav-count badge-count">7</span>
            </i>
          </div>
          <div class="icon-container">
            <i class="nav-icon fas fa-shopping-cart">
              <span class="nav-count badge-count">7</span>
            </i>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <a href="./nav.html"><h3>< Back</h3></a>
    </div>
  </body>
</html>
