<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./rating.css" />
    <script
      src="https://kit.fontawesome.com/1a8e4103d5.js"
      crossorigin="anonymous"
    ></script>
    <title>Sharp UI | Rating</title>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <h1>Rating</h1>
        <p>
          When clicked on a star all the preseding star will turn gold. On
          double click rating will get reset. <code>rating-star</code> class
          should be added to enable this feature. <code>rating</code> variable
          is provided so that you can show what is the rating
        </p>
        <div class="rating-container">
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Frating%2Frating.html&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        <h2>JavaScript Code</h2>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fajitpsakri%2FComponent-Lib-Code-Snippers%2Fblob%2Fmain%2Frating%2Frating.js&style=a11y-dark&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
      </div>
    </main>
    <script src="./rating.js"></script>
  </body>
</html>
