<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge|Sharp UI</title>
    <link rel="stylesheet" href="./badge.css">
</head>

<body>
    <main>
        <div class="wrapper">
            <h1>Badge</h1>
            <p>Badges are being used to display a notification count or status information</p>
            <h2>Status Badge</h2>
            <div class="avatar-container">
                <div class="avatar avatar-xl badge-container">
                    <img src="../../assets/images/avatar-svgrepo-com.svg" alt="avatar large,online mode">
                    <span class="badge-lg badge-online"></span>
                </div>
                <div class="avatar avatar-md badge-container">
                    <img src="../../assets/images/female-avatar.svg" alt="avatar medium, offline mode">
                    <span class="badge-md badge-offline"></span>
                </div>
                <div class="avatar avatar-sm badge-container">
                    <img src="../../assets/images/butler-avatar.svg" alt="avatar small, do not disturb me mode">
                    <span class="badge-sm badge-invisible"></span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>