<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./alert.css">
    <title>Sharp UI|Alert</title>
</head>

<body>
    <main>
        <div class="wrapper">
            <h1>Alert</h1>
            <p>An alert displays a short, important message in a way that attracts the user's attention without
                interrupting the user's task.</p>
            <h2>Simple Alerts</h2>
            <div class="alert-container">
                <div class="alert alert-info"><i class="fas fa-info-circle"></i>A info alert example!</div>
                <div class="alert alert-success">
                    <i class="fas fa-check-circle"></i>A success alert example!
                </div>
                <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i>A warning alert example!
                </div>
                <div class="alert alert-danger"><i class="fas fa-exclamation-circle"></i>A danger alert example!</div>
            </div>
            <iframe src="https://carbon.now.sh/embed/8tkfmSlsou2TYt8F9956"
                style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </main>
</body>

</html>